# --- Editor Configurations & IDE Metadata ---
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# --- OS Temporary Files ---
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# --- Local Compilation & Diagnostics Artifacts ---
*.log
*.err
*.bak
*.tmp
/tmp/

# --- Protheus Specific Transient Files ---
*.ptm
*.rpo